header {
    text-align: center;
    padding-bottom: 1%;
    /*background-color: rgba(210,210,210,0.7);*//
}

header nav {
    background-color: #BBB;
    font-size: 18px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

a:hover{
    background-color: #EEF;
}

nav a{
    margin: 0% 0%;
    border-width: 2px;
    padding: 2% 1% 2% 1%;
    
}

h1 {
    font-family: : "Comic Sans MS";
    font-size: 36px;
    
}

body {
    /*background-image: url("../img/anime_landscape.jpg");*/
}

p#presentation {
    font-size: 20px;
    font-family: "Times New Roman";
    //*background-color: rgba(210,210,210,0.7);*/
    text-align: justify;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    clear:right;
    
}

p{
    font-size: 18px;
    font-family: "Comic Sans MS";
    background-color: #FFF;
    text-align: justify;
    /*background-color: rgba(210,210,210,0.7);*/
    padding-top: 1%;
    padding-bottom: 1%;
}

ul{
    font-size: 22px;
}

ul#listeProjet li{
    background-color: rgba(210,210,210,0.7);
}

ul#formation{
    background-color: #DFD;
}

h2{
    text-align: center;
    font-size: 30px;
    background-color: rgba(210,210,210,0.7);
    padding-top: 1%;
    padding-bottom: 1%;
}

ul#contact{
    list-style-type: none;
    text-align: center;
}


ul#listeProjet{
    list-style-type:disclosure-closed
}

footer{
    /*position: fixed;*/
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #BBB;
    float: right;
}

img{
    margin-left: 5%;
    width: 8%;
    float: left;
}

img#HSR, img#P5R{
    width: 3%;
    float: none;
}