header {
    text-align: center;
    padding-bottom: 1%;
    /*background-color: rgba(210,210,210,0.7);*//
}

header nav {
    position: fixed;
    background-color: #BBB;
    font-size: 18px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

a:hover{
    background-color: #EEF;
}

header h1{
    margin-top: 7%;
}

nav a{
    margin: 0% 0%;
    border-width: 2px;
    padding: 2% 1% 2% 1%;
    
}

h1 {
    font-family: : "Comic Sans MS";
    font-size: 36px;
    
}

p#presentation {
    font-size: 20px;
    font-family: "Times New Roman";
    //*background-color: rgba(210,210,210,0.7);*/
    text-align: justify;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    
}

p{
    font-size: 18px;
    font-family: "Comic Sans MS";
    background-color: #FFF;
    text-align: justify;
    /*background-color: rgba(210,210,210,0.7);*/
    padding-top: 1%;
    padding-bottom: 1%;
}

ul{
    font-size: 22px;
}

ul#listeProjet{
    margin-left: 8%;
    margin-right: 8%;
}

ul#listeProjet li{
    background-color: rgba(210,210,210,0.7);
    list-style-type:disclosure-closed;
}
ul#formation{
    margin-left: 13%
}

ul#formation li{
    list-style-type:disclosure-closed;
    text-decoration: double underline;
}

h2{
    text-align: center;
    font-size: 30px;
    background-color: rgba(210,210,210,0.7);
    padding-top: 1%;
    padding-bottom: 1%;
}

#contact ul{
    margin-top: 0%;
    margin-left: 25%;
    list-style-type:disclosure-closed;
    text-align: left;
}

#contact ul li{
    margin-top: 3%;
}

#contact ul img{
    width: 5%;
    margin-left: 0%;
}

#contact>p{
    font-size: 20px;
    margin-left: 15%;
}

ul#CentreInteret{
    list-style-type:disclosure-closed;
    margin-left: 15%;
}

ul#CentreInteret>li{
    margin-top: 1%;
}

ul#formation img{
    float: right;
    width: 7%;
    margin-right: 35%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: #BBB;
    margin-top:auto;
}

img{
    margin-left: 10%;
    width: 5%;
}

img#PhotoMoi{
    margin-right: 10%;
    width: 6%;
    float: right;
}

img#HSR, img#P5R{
    width: 3%;
    float: none; 
}

img#MAL{
    width: 3%;
    float: none;
    margin-left: 1%;
}

ul#listeProjet img{
    margin-left: 40%;
    width: 20%;
}
img#MadokaMagica, img#SAO, img#Toaru, img#Tensura, img#DAL{
    width: 11%;
    margin-top: 1%;
    margin-left: 3%;
}